/* 
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Gochi Hand', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* FONT - FOOTER */
.font-footer-developer {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 1px;
}

.font-footer-title {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 1px;
}

.font-footer-topic {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 1px;
}

/* FONT - SKILL */
.font-skill {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.text-skill:hover { font-weight: bold; }

/* FONT - SPOTLIGHT */
.font-spotlight {
    font-family: 'Gloria Hallelujah', cursive;
}

.font-skill-title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}

/* FONT - TITLE */
.font-text-title {
    font-family: 'Open Sans', sans-serif;
}

/* TEXT - ARROW */
.arrow-dark { color: #111 !important; }
.arrow-light { color: #F9F9F9 !important; }

/* TEXT - COLOR */
.text-blue { color: #1db2c9 !important; }
.text-gray { color: #111 !important; } 
.text-gray:hover { color: #666 !important; }
.text-green { color: #28A745 !important; }
.text-orange { color: #d3850f !important; }
.text-pink { color: #e05eb9 !important; }
.text-purple { color: #7b508b !important; }
.text-red { color: #DC3545 !important; }
.text-yellow { color: #FFC107 !important; }

/* TEXT - FOOTER */
.text-footer-dark { color: #777 !important; } 
.text-footer-dark:hover { color: #999 !important; }
.text-footer-dark-title { color: #999 !important; }
.text-footer-dark-title:hover { color: #BBB !important; }

.text-describe-dark {
    color: #444 !important;
    letter-spacing: 1px;
}

.text-describe-light {
    color: #E9E9E9 !important;
    letter-spacing: 1px;
}

/* TEXT - MARK */
.mark-indicator-dark { color: #111 !important; }
.mark-indicator-light { color: #F9F9F9 !important; }

/* TEXT - TITLE */
.text-title-dark {
    color: #333 !important;
    letter-spacing: 2px;
}
.text-title-dark:hover { color: #111 !important; }

.text-title-light {
    color: #F9F9F9 !important;
    letter-spacing: 5px;
}
.text-title-light:hover { color: #D9D9D9 !important; }

.text-subtitle-dark {
    color: #333 !important;
    letter-spacing: 2px;
}
.text-subtitle-dark:hover { color: #111 !important; }

.text-subtitle-light {
    color: #D9D9D9 !important;
    letter-spacing: 2px;
}
.text-subtitle-light:hover { color: #B9B9B9 !important; }

/* TEXT */
.text-hover:hover { font-weight: bold; }

.text-light { color: #F9F9F9 !important; }
.text-light:hover { color: #D9D9D9 !important; }


/*
.font-badge {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 3px;
}

.font-describe {
    font-family: 'Open Sans', sans-serif;
}

.font-read-text {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}







.font-main-menu {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 1px;
}

.font-social {
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 1px;
}

.font-pills-title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.font-subtitle {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
}

.font-title {
    color: #111;
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 2px;
}

.font-topic {
    font-family: 'Open Sans', sans-serif;
}

.font-topic-personal {
    font-family: 'Satisfy', cursive;
    letter-spacing: 3px;
}











.text-content-dark { color: #555 !important; }

.text-describe-dark {
    color: #444 !important;
    letter-spacing: 1px;
}

.text-describe-light {
    color: #E9E9E9 !important;
    letter-spacing: 1px;
}





.text-topic-dark { color: #444 !important; }

.text-blurred {
    color: transparent;
    text-shadow: 0 0 2px rgba(0,0,0,0.50);
}



.text-social-button { letter-spacing: 5px; }



.letter-spacing-1 { letter-spacing: 1px; }
.letter-spacing-2 { letter-spacing: 2px; }
.letter-spacing-3 { letter-spacing: 3px; }
.letter-spacing-4 { letter-spacing: 4px; }
.letter-spacing-5 { letter-spacing: 5px; }  
*/